{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% load i18n %}

{% block content %}
            <h1 class="alt">Log in</h1>
            <hr />
            <form method="post" action="." style="width: 350px;">
	            {% csrf_token %}
	            <table>
                	{{ form.as_table }}
	            </table>
	            <p><input type="submit" value="{% trans 'Log in' %}" /><input type="hidden" name="next" value="{{ next }}" /> &nbsp;
	            <a href="{% url registration_register %}">{% trans "Register" %}</a> &middot; <a href="{% url auth_password_reset %}">{% trans "My dog ate my password" %}</a></p>
            </form>
{% endblock %}
