.matplotlib
active_settings.py
debug_settings.py

~*
*.swp
*.pyc
django-profiles
django-registration
OOSuite
.coverage
.project
.pydevproject
.mplconfig
.wpr
.wpu
*.wpr
*.wpu
*.bbl
*.aux
*.blg
*.log
*.tex~
*.js~
*.html~
testdb*
reduction/tas/ubmatrix/build
