# Local configuration info
private_settings.py
debug_settings.py

# runtime files
.matplotlib

# ide files (eclipse, pycharm)
.project
.pydevproject
.idea

# editor files
~*
*~
*.swp

# build and test output
zzz/ubmatrix/build
.coverage
*.pyc
*.o
*.so
*.pyd
*.dll
*.dyld
