{% extends "base.html" %}
{% block title %}My projects{% endblock %}
{% block head %}

    <script type="text/javascript" src="/static/lib/plotting/jqplot/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/ajaxCSRFfix.js"></script>
    <script type="text/javascript" src="/static/lib/ext/ext-all.js"></script>
    <script type="text/javascript">

        deleteProject = function(projectname, projectid) {
            // Send alert to have user confirm deletion. 
            var choice = confirm("Are you sure you want to delete project:  "  + projectname + "?");
            if (choice == true) {
                // Delete the project via Ajax request 
                $.ajax({
                    url: '/myProjects/',
                    type: 'POST',
                    data: {'project_id' : projectid},
                    success: function(response) {
                        //projectid is not in scope here; calling another function that has it.
                        successfunction(); 
                    }
                });
                successfunction = function () {
                    inputs = $('input');
                    //skip first and last inputs -- only care about the projects
                    for (var i = 1; i < inputs.length - 1; ++i) { 
                        if (parseInt(inputs[i].getAttribute('id')) === projectid) {
                            $(inputs[i].parentElement).remove(); //removes the list <li> element for deleted project
                            break;
                        }
                    }
                };
            } else { /* Do nothing; they did not want to delete the project. */ }
        };


        shareProject = function(userid, projectname, projectid) {
            // Prompt user for collaborator's email.
            var collaborator_email = prompt("With whom do you want to share Project: " + projectname + "? Enter their email: ", "");

            // Does a null check if they cancel and a length test to check if they entered something.
            // Do a better validation for a valid email here or perhaps in the URL reverse lookup regex?
            if (collaborator_email == null) {
                // Do nothing - they canceled the prompt.
            } else if (collaborator_email.length > 0) {
                $.ajax({
                    url: '/project/collaborate/',
                    type: 'POST',
                    data: {'collaborator_email': collaborator_email, 'user_id' : userid, 'project_id' : projectid},
                    success: function(response) {
                        successfunction(response); 
                    },
                    failure: function() {
                        alert("Failed to contact server. Unable to process request.");
                    }
                });
                successfunction = function (response) {
                    //NOTE: doesn't reach success function in local testing... email fails
                    alert("An email has been sent to " + collaborator_email);
                };
            } else { 
                alert("No email was provided.");
            }
        };
    </script>
{% endblock %}

{% block content %}
		    <h1 class="alt">My projects</h1>
		    <hr />
		    <form action="." method="POST">
			    {% csrf_token %}
		        <ul>
		        {% for project in projects.object_list %}
            		<li><input type="button" id="{{project.id}}" value="Delete project" onclick="deleteProject('{{project}}', {{project.id}})" /><body>  <<<</body><input type="button" value="Share project" onclick="shareProject({{user.id}}, '{{project}}', {{project.id}})" /><body>>>>  ..... </body> <a href="editProject/{{project.id}}/">{{ project }}</a> <body id="usersdiv">(Users: {% for username in project.users.all %}{% if not forloop.first %},{% endif %} {{username.get_full_name}}{% endfor %})</body></li>
		        {% endfor %}
            		<li>{{ form.new_project }} <input type="submit" value="Create project" /></li>
		        </ul>
		    </form>
		    <p class="pagination">
			    <span class="step-links">{% if projects.has_previous %}<a href="?page={{ projects.previous_page_number }}">previous</a> {% endif %}<span class="current">Page {{ projects.number }} of {{ projects.paginator.num_pages }}</span>{% if projects.has_next %} <a href="?page={{ projects.next_page_number }}">next</a>{% endif %}</span>
		    </p>

{% endblock %}
