<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Edit Experiment</title>
</head>
<body>
    <div id="content-1" style="float:left;">
    <h2>EDIT EXPERIMENT: </h2>
    <form action="." method="POST">
    {% csrf_token %}
        <table>
            {{ form1.as_table }}
        </table>
        <p><input type="submit" value="Save changes"></p>
    </form>
    </div>
    <div id="content-2" style="float:left;">
    	<h2> {{ experiment.ProposalNum }} </h2>
    	<form action="." method="POST" enctype="multipart/form-data">
    	{% csrf_token %}
        	<table>
            		{{ form2.as_table }}
        	</table>
        <p><input type="submit" value="Add entries"></p>
    </form>
    <hr></hr>
    <h4> Templates: </h4>
	{% for template in experiment.templates.all %}
    <li>{{ template}}
    </li>
	{% endfor %}
    	
    <h4> Files: </h4>
    	{% for file in experiment.Files.all %}
    	<li> {{file }} </li>
    	{% endfor %}	
    
    </div>

</body>

</html>
