{% extends "base.html" %}
{% block title %}Edit project{% endblock %}
{% block head %}

    <script type="text/javascript" src="/static/lib/plotting/jqplot/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/ajaxCSRFfix.js"></script>
    <script type="text/javascript" src="/static/lib/ext/ext-all.js"></script>
    <script type="text/javascript">

        deleteExperiment = function(experimentname, experimentid, projectid) {
            // Send alert to have user confirm deletion. 
            var choice = confirm("Are you sure you want to delete experiment:  "  + experimentname + "?");
            if (choice == true) {
                // Delete the project via Ajax request 
                $.ajax({
                    url: '/myProjects/editProject/'+projectid+'/',
                    type: 'POST',
                    data: {'experiment_id' : experimentid},
                    success: function(response, a, b, c) {
                        //projectid is not in scope here; calling another function that has it.
                        successfunction(); 
                    }
                });
                successfunction = function () {
                    inputs = $('input');
                    //skip first and last inputs -- only care about the projects
                    for (var i = 1; i < inputs.length - 1; ++i) { 
                        if (parseInt(inputs[i].getAttribute('id')) === experimentid) {
                            $(inputs[i].parentElement).remove(); //removes the list <li> element for deleted project
                            break;
                        }
                    }
                };
            } else { /*// Do nothing; they did not want to delete the project. */ }
        };
    </script>

{% endblock %}

{% block content %}
		    <h1 class="alt">{{project}}</h1>
		    <hr />
		    <form action="." method="POST">
			    {% csrf_token %}
		        <ul>
        		{% for experiment in experiments.object_list %}
            		<li><input type="button" id="{{experiment.id}}" value="Delete experiment" onclick="deleteExperiment('{{experiment}}', {{experiment.id}}, {{project.id}})" /> <body> ..... </body> <a href="editExperiment/{{experiment.id}}/">{{ experiment }}</a> ( {{ experiment.instrument.instrument_class }} )</li>
        		{% endfor %}
            		<li>{{ form.as_table }} <input type="submit" value="Create experiment" /></li>
        		</ul>
			</form>
		    <p class="pagination">
			    <span class="step-links">{% if experiments.has_previous %}<a href="?page={{ experiments.previous_page_number }}">previous</a> {% endif %}<span class="current">Page {{ experiments.number }} of {{ experiments.paginator.num_pages }}</span>{% if experiments.has_next %} <a href="?page={{ experiments.next_page_number }}">next</a>{% endif %}</span>
	        </p>
{% endblock %}
