<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Edit Experiment</title>
		
        <!-- Blueprint CSS -->
        <link rel="stylesheet" href="/static/css/blueprint/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/blueprint/blueprint/print.css" type="text/css" media="print" />
        <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
        <link rel="stylesheet" href="/static/css/blueprint/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
        <style type="text/css">
            label { font-weight: inherit; }
        </style>
		
		<script type="text/javascript" src="/static/lib/yui/yahoo/yahoo-min.js"></script>
		<script type="text/javascript" src="/static/lib/yui/event/event-min.js"></script>
		<script type="text/javascript" src="/static/lib/yui/connection/connection-min.js"></script>
		<script type="text/javascript" src="/static/lib/yui/json/json-min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1 class="alt">Experiment: <span class="proposalnum">{{ experiment.ProposalNum }}</span></h1>
			<hr />
			<form action="." method="POST" enctype="multipart/form-data">
		        {% csrf_token %}
			    <div id="information-col" class="span-8 colborder">
			        <h2>Information</h2>
			        <table>
				        {{ form1.as_table }}
			        </table>
		        </div>
		        <div id="templates-files-col" class="span-15 last">
            		<div class="span-6 colborder">
		        	    <h2>Templates</h2>
		        	    <!--<h3 class="alt">{{ form2.cur_templates.label }}</h3>-->
		        	    {% if form2.cur_templates %}
    		         	    {{ form2.cur_templates }}
		        	    {% else %}
    		        	    <p>There are currently 0 templates. Please add templates below.</p>
		        	    {% endif %}
		        	    <h3 class="alt">{{ form2.new_templates.label }}</h3>
		        	    {{ form2.new_templates }}
			        </div>
			        <div class="span-8 last">
			            <h2>Files</h2>
		        	    <!--<h3 class="alt">{{ form2.cur_files.label }}</h3>-->
		        	    {% if form2.cur_files %}
		        	        {{ form2.cur_files }}
		        	    {% else %}
    		        	    <p>There are currently 0 files. Please add files below.</p>
		        	    {% endif %}
		        	    <h3 class="alt">{{ form2.new_files.label }}</h3>
		        	    <p>{{ form2.new_files }}</p>
		            </div>
			    </div>
	            <hr />
			    <p><input type="submit" value="Save changes" /></p>
			</form>
			<form action="/editor/" method="post">
				    {% csrf_token %}
				    <p>
        				<input type="hidden" name="language" value={{ experiment.instrument.instrument_class }} />
        				<input type="hidden" name="experiment_id" value={{ experiment.id }} />
					    <input type="submit" value="Start reducing!" />
				    </p>
			    </form>
		</div>
	</body>
</html>
