{% extends "admin/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% static "css/blueprint/blueprint" as bp_css %}
{% static "css/site.css" as site_css %}

{% block extrastyle %}
<!-- Blueprint CSS -->
<link rel="stylesheet" href="{{bp_css}}/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{bp_css}}/print.css" type="text/css" media="print" />
<!--[if lt IE 8]><link rel="stylesheet" href="{{bp_css}}/ie.css" type="text/css" media="screen, projection" /><![endif]-->
<link rel="stylesheet" href="{{bp_css}}/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" type="test/css" href="{{site_css}}" />
{% endblock %}

{% block title %}{{ title }} | {% trans 'tracks' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'tracks administration' %}</h1>
{% endblock %}

{% block userlinks %}
        <span style="width: 5em">&nbsp;</span>
        <a href="/">Home</a> &middot;
        {% url 'django-admindocs-docroot' as docsroot %}
        <a href="/projects/">Projects</a> &middot;
        {% if docsroot %}<a href="{{ docsroot }}">Admin help</a> &middot; {% endif %}
        <a href="/accounts/{{ user }}">Profile</a> &middot;
        <a href="/accounts/signout/">Log out</a>
{% endblock %}

{% block nav-global %}{% endblock %}
