{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block head %}
    <script type="text/javascript" src="{{ext_js}}"></script>
{% endblock %}

{% block content %}
		    <h1 class="alt">My projects</h1>
		    <hr />
		    <form action="." method="POST">
			    {% csrf_token %}
		        <ul>
		        {% for project in projects.object_list %}
            		<li><input type="button" value="X" onclick="deleteProject('{{project}}', {{project.id}})" />
                        {{project.id}} <a href="edit/{{project.id}}/">{{project}}</a>:
                        <div class="project-users">
                            {% for username in project.users.all %}
                                {% if not forloop.first %}, {% endif %}
                                {% if username.email %}{{username.email}}{% else %}{{username}}{% endif %}
                            {% endfor %}
                        </div>
                    </li>
		        {% endfor %}
            	<li>{{ form.new_project }} <input type="submit" value="New project" /></li>
		        </ul>
		    </form>
		    <p class="pagination">
			    <span class="step-links">
                    {% if projects.has_previous %}
                        <a href="?page={{ projects.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">Page {{ projects.number }} of {{ projects.paginator.num_pages }}</span>
                    {% if projects.has_next %}
                        <a href="?page={{ projects.next_page_number }}">next</a>
                    {% endif %}
                </span>
		    </p>
{% endblock %}
